*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}
/* centraliser verticalement le contenu du body */
body{
    padding: 20px; 
}

/*  styler le head (debut)*/
header{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo a{
    color: #686AA1;
    font-family:'Allerta Stencil', sans-serif;
    font-size: 25px;
}
.logo span{
    color: #A18A68;
}
nav{
    width: 500px;
    height: 27px;
    display: flex;
    
    justify-content: space-between;
   
}
nav ul{
    width: 318px;
    height: 7px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
nav .list_icon{
    width: 200px;
    padding-top: 25px;
}
nav .list_icon img{
    width: 18px;
}

nav ul:first-child{
    border-right: 1px solid #707070;
}
.img-res{
    display: none;
}
nav button span{
  
    color:rgb(248, 246, 246);
    background: #ad1680;
    outline-color:none;
    border-color: none;
}
.menu{
    display: none;
}
/*  styler le head (fin) */
/* styler la section du detail des produits (debut)*/
section{
    width : 80%;
    height: 80vh;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
}
section .imgProduit, section .infoProduit{
    height: 100%;
    width: 50%;
    border-radius: 6px;
}
section img{
    height: 100%;
}
section .infoProduit{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color:rgba(235, 230, 230, 0.2);
}
.listInfo{
    list-style: circle;
}
section .infoProduit .buttons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.vote{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}


.material-symbols-outlined {
  color: rgb(246, 255, 0);
}

/* styler la section du detail des produits (fin)*/
/* footer style (debut) */
footer{
    width: 100%;
    height: 60px;
    margin: 40px 0px;
    display: flex;
    justify-content: space-between;
}
footer ul{
    width: 500px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;

}
.sicial_media div{
    margin: 7px 0px;
    display: flex;
    justify-content: space-between;
}
.sicial_media{
    width: 400px;
    position: relative;
}
.sicial_media ul{
    width: 200px;
    position: absolute;
    right: 0px;
}
/* footer style (fin) */

/* start responsive code */
@media screen and (max-width: 1250px){
    nav{
        display: none;
    }
    .img-res{
        display: inline-block;
    }
    .menu{
        display: inline-block;
        position:relative;
        top: 0.2rem ;
        right: 2rem;
    }
    section{
        width : 98%;
        height: fit-content;
        background-color: #707070;
        padding: 1rem;
        margin: 70px auto;
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        gap: 0.5rem;
        align-items: center;
    }
    section .imgProduit, section .infoProduit{
        height: fit-content;
        width: 100%;
        
        border-radius: 6px;
    }
    .imgProduit {
        display: flex;
        justify-content: space-between; 
    }
    section img{
        width: 30%;
        border-radius: 6px;
    }
    section .infoProduit{
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-weight: 200;
        gap: 10px;
        background-color:rgba(235, 230, 230, 0.2);
    }
    
    /* footer style (debut) */
footer{
    width: 98%;
    margin:2rem auto;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}
footer .links{
    width: 45%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-around;

}
.sicial_media div{
    margin: 7px 0px;
    display: flex;
    justify-content: space-between;
}
.sicial_media{
    width: 30%;
    position: relative;
}
.sicial_media ul{
    width: 100%;
    position: absolute;
    right: 0px;
}
/* footer style (fin) */
}
@media screen and (max-width: 760px){
    .nav{
        position: absolute;
        top: 0;
        left: -20000px;
        padding: 3rem;
        background-color: #686AA1;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        font-size: large;
       
    }
    .nav ul{
        position: static;
        height: 40%;
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
    nav .list_icon{
        position: static;
        width: 100%;
        height: 40%;
        padding-top: 5px;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
    nav ul li{
        display: block;
        width: 100%;
        padding: 5px;
        border-radius: 6px;
    }
    nav ul li:hover{
        
        background-color: #ad1680;
    }
    
    nav ul:first-child{
        border-right: 1px solid #707070;
    } 
    .menu{
        display: inline-block;
        position:relative;
        top: 0.2rem ;
        right: 2rem;
    }
    .menu:checked ~ .nav{
        left: 0px;
    }

    section .section_img{
        min-width: 100%;
        position: relative;
        right:15rem;
        border-radius: 8px;
    }
    footer{
       flex-direction: column;
       align-items: center;
       gap: 1rem;
    }
    footer ul{
        width: 70%;
        text-align: center;
    }
    .sicial_media{
        width: 100%;
        align-items: center;
    }
    footer .links{
        width: 100%;
        margin: 10px 0px;
        display: flex;
        flex-direction: row;
    
    }
    
}


/* end responsive code */